.body-css{
  background-color: black;
}
.text{
  color:white;
}
.team-images{
  margin-bottom:20px;
  padding-bottom:20px;
}
#workers{
  background-color: orange;
}
.buttons{
	padding: 6px;
	background-color: #000000;
	color: aliceblue;
	border-radius: 7px;
	overflow: hidden;
	margin-bottom:20px;
}
#tres-image{
  margin-right:5px;
  padding-right:5px;
}
#scion-image{
  margin-left:5px;
  padding-left:5px;
}